 <form class="mt-4 ms-4 p-2">
      <fieldset>
        <h1 class="text-center text-custom mt-4">Create an account</h1>

        <legend class="mt-4">Enter Email</legend>
        <div class="form-group row">
          <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp"
            placeholder="Enter email">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
          <input type="password" class="form-control" id="password-signup" placeholder="Password"
            autocomplete="password-content">
        </div>
        <div class="form-group">

          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary mt-5 signup-form">Submit</button>

          </div>

      </fieldset>
    </form>
  </div>
</section>


<script src="./js/login.js"></script>